<div class="login-signup-background">
  <div class="login-signup-container">
    <h1 class="vensei">Vensei</h1>
    <%= render(
      "layouts/username_password_form",
      url: session_url,
      button_msg: "Log In",
      user: @user
    ) %>

    <%= button_to "Register", new_user_url, method: :get %>
  </div>
</div>
