<div class="browsed-poll-content">
  <div class="row">
    <span class="replay btn no-guess col-xs-2">
      <h3>Click to Replay</h3>
    </span>

    <span class="prompt col-xs-8">
      <h1>
        Which Vine is Funnier?
      </h1>
      <div class="key-vote-prompt">
        <h2 class="directions">
          Up arrow <img class="keyboard-btn" src="http://res.cloudinary.com/dndjfdea0/image/upload/v1435029687/up_button_pxwsis.png">
           votes top Vine, down arrow <img class="keyboard-btn" src="http://res.cloudinary.com/dndjfdea0/image/upload/v1435029687/down_button_urfg0c.png">
           votes bottom Vine.
        </h2>

        <h2>
          Push spacebar <image class="keyboard-spacebar" src="http://res.cloudinary.com/dndjfdea0/image/upload/v1435029687/spacebar_rc7r9y.png">
            for next two vines.
        </h2>
      </div>
    </span>

    <span class="skip btn no-guess col-xs-2">
      <h3>Click to Skip</h3>
    </span>

  </div>

  <div class="row poll-vines">
    <div class="poll-vine-vids col-xs-4">
      <%= JST['polls/pollVineVid']({vine: vine1, number: 1}) %>

      <%= JST['polls/pollVineVid']({vine: vine2, number: 2}) %>
    </div>

    <div class="poll-chart-container col-xs-8">

    </div>

  </div>

</div>
