<div class="row">
  <span class="prompt">
    <div class="vote-directions">
      <h1>
        Which Vine is Funnier?
      </h1>
      <h2 class="key-vote-prompt">
        Vote by button or pressing up / down arrow
      </h2>
    </div>

    <span class="replay btn circle no-guess">
      <h1>Replay</h1>
    </span>

    <span class="skip btn circle no-guess">
      <h1>Skip</h1>
    </span>

  </span>


  <div class="voting-result">
    <h1 class="voting-result-text"></h1>
  </div>
</div>

<div class="row poll-vines">
  <div class="poll-vine-vids col-xs-4">
    <%= JST['polls/pollVineVid']({vine: vine1, number: 1}) %>

    <hr class="vid-divider">

    <%= JST['polls/pollVineVid']({vine: vine2, number: 2}) %>
  </div>

  <div class="poll-chart-container col-xs-8">

  </div>

</div>
