<div class="new-poll-background-modal">
  <div class="new-poll-form-container">
    <h1>Time to make a poll</h1>
    <form class="new-poll-form form-control">
      <label for="poll-name">Poll Name:</label>
      <input id= "poll-name" type="text" name="poll[name]">

      <br>

      <label for="vine-1-url">Enter first vine url:</label>
      <input id= "poll-name" type="text" name="poll[vine1_url]">

      <br>

      <label for="vine-2-url">Enter second vine url:</label>
      <input id= "poll-name" type="text" name="poll[vine2_url]">

      <br>

      <input class="submit-poll" type="submit" value="Make Poll!">
    </form>
    <button class="close">Cancel</button>
  </div>
</div>
