<ul class="polls-list">
  <h1 class="polls-title">Your polls</h1>

  <div class="poll-items">

  </div>
</ul>
<button class="create-new-poll btn btn-primary" name="button">
  Create new poll
</button>
<div class="new-poll-container">

</div>
