<div class="polls-list">

  <h1 class="polls-title">Your polls</h1>
  <ul class="polls-list">

    <div class="poll-items">

    </div>
  </ul>
  <button class="create-new-poll btn btn-primary" name="button">
    Create new poll
  </button>
</div>

<div class="new-poll-container">

</div>
