<button class="btn btn-primary vote vote-1">
  Vote for this vine!
</button>

<canvas class="live-poll-chart">
</canvas>


<button class="btn btn-primary vote vote-2">
  Vote for this vine!
</button>
