<div class="saved-poll-content">
  <div class="row">
      <span class="prompt col-xs-12">
      <h1>
        Which Vine is Funnier?
      </h1>
      <div class="key-vote-prompt">
        <h2>
          Respond at <strong>vensei.com/polls/<%= poll.id %></strong>
        </h2>
      </div>
    </span>

    <span class="col-xs-1.5">
    </span>

  </div>

  <div class="row poll-vines">
    <div class="saved-poll-vine-vids col-xs-4">
      <%= JST['polls/savedPollVineVid']({vine: vine1, number: 1}) %>

      <%= JST['polls/savedPollVineVid']({vine: vine2, number: 2}) %>
    </div>

    <div class="saved-poll-chart-container col-xs-8">

    </div>

  </div>

</div>
