<div class="login-signup-background">
  <div class="login-signup-container">
    <h1 class="vensei">Vensei</h1>
    <%= render(
      "layouts/username_password_form",
      url: users_url,
      button_msg: "Register",
      user: @user
    ) %>

    <%= button_to "Login", new_session_url, method: :get %>
  </div>
</div>
