/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require TimeCircles
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.row{
  margin-left: 0;
  margin-right: 0;
}

html {
  height: 100%
}

body {
  height: 100%
}

h1 {
  margin: 0;
}

#content {
  height: 100%;
  padding-top: 77px;
  position: relative;
}

.score{
  font-size: 14px;
  transition: font-size 500ms ease;
}

.score.highlighted{
  font-size: 40px;
  color: rgb(255, 255, 255);
}

nav.navbar {
  margin: 0;
  min-height: 77px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 50;
}

.navbar-brand{
  padding:0;
}

.navbar-brand:hover{
  background: blue;
}

.group:after {
  clear: both;
  display: block;
  content: "";
}

.circle {
  border-radius: 50%;
}

.centered {
  margin: auto;
  width: 98%;
  display: block;

}
