
.results-carousel{
  background: blue;
  width: 90%;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}


.replay {
  width: 300px
}

.voting-result {
  text-align: center;
}

.browse-battles {
  height: 100%;
  // overflow: hidden;

  .vine-container{
    height: 550px;
    padding: 0;
    position: static;
  }

  h1.vine-author{
    font-size: 25px;
  }

  // ********Vine Animation************
  .vine{
    background: palegoldenrod;
    position: absolute;
    margin: auto;
    height: 750px;
    width: 644px;
    transition: top 500ms ease;
    p {
      font-size: 20px;
      word-wrap: break-word;
      background: palegoldenrod;
      overflow-y: overlay;
      height: 100px;
    }
  }

  .vines-row{
    position: relative
  }

  .vine.done{
    position: static;
  }

  .vine-1.away{
    top: -500%;
  }

  .vine-1{
    z-index: 30;
  }

  .row.vines-titles-row{
    height: 65px;
  }

  h1.vine-auther{
    padding: 0;
  }

  .vine-2{
    z-index: 35;
  }

  .vine.playing{
    top: 35px;
    left: 50%;
    margin-left: -322px;
    position: absolute;
  }

  .vine.voting{
    position: static;
  }


  .vine-2.away{
    top: 500%;
    position: fixed;
  }
}
