.voting-result {
  text-align: center;
}

.browse-battles {
  height: 100%;
  overflow: hidden;

  h1.vine-author{
    font-size: 40px;
    padding: 20px;
    color: white;
    text-align: center;
  }

  .video-container{
    background-repeat: no-repeat;
    background-size: cover;
    height: 68vh;
    width: 68vh;
  }

  // ********Vine Animation************
  .vine-container{
    position: absolute;
    left: 0;
    right: 0;
  }
  .vine{
    position: relative;
    margin: 0 auto;
    height: 72vh;
    width: 68vh;
    min-width: 500px;
    transition: top 500ms ease;
    p {
      color: white;
      font-size: 150%;
      word-wrap: break-word;
      overflow-y: overlay;
      height: 100px;
      text-align: center;
    }
  }

  .vines-row{
    position: relative
  }

  .vine.done{
    display: none;
  }

  .away{
    top: -1000px;
  }

  .vine-1{
    z-index: 30;
  }

  .row.vines-titles-row{
    height: 65px;
  }


  .vine-2{
    z-index: 35;
  }

  .vine.playing{
    top: 2vh;
  }

  .vine.voting{
    position: static;
  }


}
