.poll-content{
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
}

.poll-content.no-guess{
  background: rgba(0,0, 250, .3);
}
.poll-content.winner{
  background: rgba(0,250, 0, .3);
}
.poll-content.loser{
  background: rgba(250, 0, 0, .3);

}

.prompt{
  padding: 45px 45px 0px 45px;
  display: block;

  h1, h2{
    margin: 0;
    text-align: center;
  }
  .replay {
    // background: rgba(0, 250, 0, .3);
    width: 150px;
    height: 100px;
    display: block;
    margin: auto;
    position: absolute;
    z-index: 42;
    top: 5px;
    right: 10px;

    h1{
      position: absolute;
      top: 30px;
      left: 20px;
      padding: 0;
    }
  }
  .replay.no-guess{
    background: rgba(0, 0, 250, .3);

  }
  .replay.winner{
    background: rgba(0, 250, 0, .3);
  }
  .replay.loser{
    background: rgba(250, 0, 0, .3);
  }
}

.browsed-poll{
  background: aliceblue;
  margin: auto;
  top: 40px;
  bottom: 0;
  right: 0;
  left: 0;
  width: 90%;
  height: 90%;
  position: fixed;
}

.vote-directions{
  width: 75%;
  margin: auto;
}

.poll-content.polling{
  z-index: 60;
}

.poll-content.away{
  z-index: -5;
}

hr.vid-divider{
  border-top: 3px solid #000;
}

.poll-chart-container{
  height: 650px;
  background: palegoldenrod;
}
