.voting-result {
  text-align: center;
}

.browse-battles {
  height: 100%;
  overflow: hidden;

  .vine-container{
    // height: 550px;
    // padding: 0;
    // position: static;
  }

  h1.vine-author{
    font-size: 25px;
    padding:0;
  }

  .video-container{
    background-repeat: no-repeat;
    background-size: cover;
    height: 68vh;
    width: 68vh;
  }

  // ********Vine Animation************
  .vine{
    background: palegoldenrod;
    position: relative;
    margin: auto;
    height: 72vh;
    width: 68vh;
    transition: top 500ms ease;
    p {
      font-size: 20px;
      word-wrap: break-word;
      background: palegoldenrod;
      overflow-y: overlay;
      height: 100px;
    }
  }

  .vines-row{
    position: relative
  }

  .vine.done{
    display: none;
  }

  .vine-1.away{
    top: -1000px;
  }

  .vine-1{
    z-index: 30;
  }

  .row.vines-titles-row{
    height: 65px;
  }


  .vine-2{
    z-index: 35;
  }

  .vine.playing{
    top: 0;
    // left: 50%;
    // position: absolute;
  }

  .vine.voting{
    position: static;
  }


  .vine-2.away{
    top: 1000px;
    // position: fixed;
  }
}
