html {
  height: 100%
}

body {
  height: 100%
}

#content {
  height: 100%;
  background: pink;
}

nav.navbar {
  margin: 0;
  height: 77px;
}

.group:after {
  clear: both;
  display: block;
  content: "";
}

.circle {
  border-radius: 50%;
}

.centered {
  margin: auto;
  width: 98%;
  display: block;

}
