
.response-block {
  width: 20vw;
  height: 20vw;
  min-width: 547px;
  min-height: 268px;
}

.glyphicon{
  font-size: 10vh;
}

body{
  background-image: url(
  "http://res.cloudinary.com/dndjfdea0/image/upload/v1435897526/black-Linen_zc6jug.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.live-action{
  height: 68.5vh;
  min-height: 640px;
  position: relative;
  background: rgba(0,0,0,.5);
}

.live-action-vid{
  height: 100%;
  max-width: 49vw;
  position: absolute;
  z-index: -1;
}

.live-action-vid-1{
  right: 50%;
}
.live-action-vid-2{
  left: 50%;
}

#value-statement {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 500px;
  padding-top: 100px;
  color: white;

  h3 {
    margin: 0 auto;
    font-weight: 500;
  }
  h1 {
    margin: 0 auto 30px auto;
    font-weight: 700;
  }
}

.value-statement-background {
  background: rgba(0, 0, 0, .3);
  padding: 14px;
  border-radius: 5px;
}

.value-statement-buttons{
  width: 600px;
  margin: auto;
  position: relative;
  top: 55px;
  .new-poll{
    margin: 0 50px;
  }
  a{
    background: beige;
  }

}

// *********computer view***********

.computer {
  margin: 0 auto;
  display: block;
  position: relative;
  top: 90px;
  height: 482px;
  width: 828px;
  background-image: url('http://res.cloudinary.com/dndjfdea0/image/upload/v1435030180/computer_s6aown.gif')
  // 828 X 482 px
  // actual is a div with 888 x 493
}

.loading {
  background: black;
  background-image: url('http://res.cloudinary.com/dndjfdea0/image/upload/v1435030180/spin_attack_jbtnbc.gif');
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: contain;
}

.loading:after{
  text-align: center;
  color: white;
  content: "loading...";
  display: block;
  font-size: 3.25vh;
}

.loading-text:after {
  color: white;
  text-align: bottom, center;
}

.landing-saved-poll {
  height: 394px;
  width: 630px;
  margin: auto;
  position: relative;
  top: 35px;
}

#how-it-works {
  height: 681px;
  padding-top: 240px;
  padding-bottom: 50px;
  background: white;
  text-align: center;
    font-size: 20px;
  h1 {
    margin-top: 34px;
  }

  ol{
    margin: auto;
    width: 900px;
  }

  li {
    float: left;
    width: 175px;
    margin: 50px;
  }
  p{
  }
}

#explain-vine-browsing {
  background: #e9eff4;
  min-height: 400px;
  padding: 40px;
  text-align: center;
  overflow: hidden;
  ul {
    margin: auto;
  }

  li {
    float: left;
  }

  .response-block{
    border: 1px solid black;
    width: 28.5vw;
    height: 30vh;
    margin: 5px 0;
  }
  .last-response-block{
    overflow: hidden;
  }
}

#buzz{
  background: #d95347;
  min-height: 315px;
  h1 {
    text-align: center;
  }
  .garrett {
    background-image: url("http://res.cloudinary.com/dndjfdea0/image/upload/v1435030180/garrett_simpson_app_academy_qbtsnb.jpg");
    background-repeat: no-repeat;
    height: 240px;
    width: 195px;
    position: relative;
    top: 7px;
    left: 15px;
  }
}
