.poll-item {
  list-style-type: none;
  background: aliceblue;
  // border: solid 1px;
  font-size: 32px;
  margin: 3px 0;
}

.polls-list{
  margin: 0;
  margin: auto;
  width: 80%;
  background-color: rgb(181, 221, 255);
}
div.polls-list{
  position: relative;
  top: 50px;
}

ul.polls-list{
  max-height: 600px;
  overflow: overlay;
}

.polls-title{
  font-size: 50px;
  text-align: center;
}

.polls-list, .poll-item{
  border-radius: 5px;
  list-style-position: inside;
  list-style-type: none;
  padding: 0;
}

.create-new-poll{
  font-size: 25px;
  margin: 40px 0 0 0;
}
