.poll-vine-vid{
  height: 35vh;
  width: 27vw;
  max-width: 35vh;
  margin: 0 auto;
  display: block;
}

.vine-vid{
  height: 68vh;
  width: 68vh;
  display: block;
  margin: auto;
}

.saved-poll-vine-vid{
  height: 35vh;
  width: 30vw;
  max-width: 35vh;
  margin: 0 auto;
  display: block;
}

.saved-poll-vine-vid.demo{
  height: 154px;
  width: 168px;
  margin: 0 auto;
  padding: 0;
  display: block;
}
