// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.landing-page {
  height: 100%;
}

.login-signup-background{
  height: 100%;
  width: 100%;
  background: black;
}

.errors{
  z-index: 50;
  position: absolute;
  background-color: coral;
  width: 150px;
  top: 70%;
  left: 7%;
  font-size: 20px;
  border-radius: 3px;
  overflow-wrap: break-word;
}

.login-signup-container{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: aliceblue;
  width: 90%;
  height: 98%;
  border-radius: 3px;
  font-size: 90px;
  text-align: center;
  input{
    height: 40%;
    width: 90%;
  }
  .vensei{
    font-size: 200px;
    color: forestgreen;
  }

  .form-control{
    height: 50px;
    width: 100%;
    font-size: 35px;
  }

  input.guest-signin{
    position: absolute;
    top: 197px;
    left: 50%;
    height: 50px;
    width: 174px;
    margin-left: -87px;
    font-size: 20px;
    display: none;
  }

  h1{
    font-size: 175px;
  }
  input{
    width: 50%;
  }
  .btn{
    font-size: 90px;
    margin: 4px;
  }
}
