<div class="poll-content away">

</div>

<div class="row">
  <div class="col-md-1">

  </div>

  <div class="col-md-10">

    <div class="row vines-row">
      <%= JST['battles/vineVid']({vine: vine1, number: 1}) %>

      <div class="col-md-2">

      </div>

      <%= JST['battles/vineVid']({vine: vine2, number: 2}) %>
    </div>

  </div>

  <div class="col-md-1">

  </div>
</div>
