<h1>
  Which Vine is Funnier?
</h1>

<div class="row">
  <div class="col-md-1">

  </div>
  <div class="col-md-10">
    <div class="vine-container-1 vine-container col-md-4">
      <div class="vine vine-1 away">
        <video controls class="vine-vid-1 vine-vid" width="330" height="330">

        </video>
      </div>
    </div>

    <div class="col-md-4">
      <span class="replay btn circle">
        <h1>Replay</h1>
      </span>
    </div>

    <div class="vine-container-2 vine-container col-md-4" >
      <div class="vine vine-2 away">
        <video controls class="vine-vid-2 vine-vid" width="330" height="330">

        </video>
      </div>
    </div>

  </div>

  <div class="col-md-1">

  </div>
</div>

<section class="results-carousel">

</section>
