<div class="poll-content away no-guess">

</div>

<div class="row">

      <%= JST['battles/vineVid']({vine: vine1, number: 1}) %>


      <%= JST['battles/vineVid']({vine: vine2, number: 2}) %>

</div>
