<div class="browsed-poll">

</div>

<div class="row">

  <%= JST['battles/vineVid']({vine: vine1, number: 1, caption: caption1}) %>


  <%= JST['battles/vineVid']({vine: vine2, number: 2, caption: caption2}) %>

</div>
