<span class="prompt">
  <h1>
    Which Vine is Funnier?
  </h1>
  <h2 class="key-vote-prompt">
    Vote with arrow keys
  </h2>
</span>

<div class="row">
  <div class="col-md-1">

  </div>

  <div class="col-md-10">

    <div class="row vines-row">
      <%= JST['battles/vineVid']({vine: vine1, number: 1}) %>

      <div class="col-md-2">
        <span class="replay btn circle">
          <h1>Replay</h1>
        </span>

        <div class="voting-result">
          <h1 class="voting-result-text"></h1>
        </div>
      </div>

      <%= JST['battles/vineVid']({vine: vine2, number: 2}) %>
    </div>

  </div>

  <div class="col-md-1">

  </div>
</div>

<section class="results-carousel">

</section>
