<section class="live-action">
  <span id= "value-statement">
    <h1>Choose your favorite Vine</h1>
    <h3>See if the world agrees with you, in real time</h3>
  </span>

  <div class="value-statement-buttons">
    <button class="new-battle"> Create your first poll</button>
    <a href="#browse-battles" class="btn browse-battles">
      <strong>Vote on vines as guest</strong><br>
      Compare your tastes to the public
    </a>
  </div>


  <div class="computer" src="/assets/computer.gif" alt="computer">
    <div class="landing-saved-poll">

    </div>
  </div>
</section>

<section id="how-it-works">
  <h1>This is how it works</h1>

  <ol class="how-it-works-list group">
    <li>
      <p>
        Ask your audience their preferred Vine with the Vensei App
      </p>
    </li>
    <li>
      <p>
        Audience answers in real time using web browser.
      </p>
    </li>
    <li>
      <p>
        See your response live on the web.
      </p>
    </li>
  </ol>
  <div class="circle">
    <h1 class="centered">OR</h1>
  </div>
</section>

<section id="explain-vine-browsing">
  <h1 class="centered">
    Vote on other Vine battles, and earn points for being in touch with public
    opinion
  </h1>

  <ul class="vote-response-blocks group">
    <li>
      <div class="response-block">
        <h1>will be vote-response-view</h1>
      </div>
    </li>
    <li>
      <div class="response-block">
        <h1>will be vote-response-view</h1>
      </div>
    </li>
    <li>
      <div class="response-block">
        <h1>will be vote-response-view</h1>
      </div>
    </li>
  </ul>
</section>

<section id="buzz">
  <div class="row">
    <div class="col-md-12">
      <h1>Read all the buzz about Vensei</h1>
    </div>
  </div>

  <div class="row quote">
    <div class="col-md-2 col-md-offset-3">
      <div class="circle garrett">
      </div>
    </div>

    <div class="col-md-5">
      <h2>"Wow, Vensei is so <a href="https://vimeo.com/37008466">
        bangarang</a>! I wonder
        <strong>
          <a href="https://www.github.com/discotroll65">
            what other cool stuff its creator has made!
          </a>
        </strong>
      </h2>
    </div>
  </div>
</section>
