<section class="live-action">
  <video
    src="https://v.cdn.vine.co/r/videos/01E594B8DE1077780172096393216_2e0384b3043.0.3.13144176848714163997.mp4?versionId=JMtRgRADDAl8pDCP49tD801id4MBFcJB"
    autoplay
    poster="https://v.cdn.vine.co/r/thumbs/F870E27B731077780174315102208_2b21d3099fe.0.3.13144176848714163997.mp4.jpg?versionId=5RRNCvbli9vGOKU53yCEVDzY16lIpYvO"
    loop
    muted
    class="live-action-vid live-action-vid-1"
    >
  </video>

  <video
    src="https://v.cdn.vine.co/r/videos/85C6B093DC972591602105458688_177eaa0da28.3.1_H6CS0FSI6KOZxDGiKoSsOW5t4GTppx789mZRIKKsv2LRdM4SL2geNPkUkxATXfdt.mp4?versionId=A_Lm8_0TZT4MNccwmHezvlBfvzs.289Z"
    autoplay
    poster="https://v.cdn.vine.co/r/thumbs/5EB1A8B6EF972591603795525632_14ef1e9fb01.3.1.mp4__Wxtmr_AXaQtmwBu7eN8V6IsrkNOnU3dhPYiIg_syifXfXxaYFf390z54zwCc.64.jpg?versionId=vs.GzzC2ykR1519.3_W.4Riw0nnFBCrH"
    loop
    muted
    class="live-action-vid live-action-vid-2"
    >
  </video>

  <span id= "value-statement">
    <div class="value-statement-background">
      <h1 class="slogan-h1">Choose your favorite Vine</h1>
      <h3 class= "slogan-h3">See if the world agrees with you, in real time</h3>
    </div>
  </span>

  <div class="value-statement-buttons">
    <a href="#new-poll" class="new-poll btn">
      <strong>Create your first poll</strong><br>
      Liven up that 2 hour presentation
    </a>
    <a href="#browse-battles" class="btn browse-battles">
      <strong>Browse past Vine matchups</strong><br>
      Compare your tastes to the public
    </a>
  </div>


  <div class="computer" src="/assets/computer.gif" alt="computer">
    <div class="landing-saved-poll loading">

    </div>
  </div>
</section>

<section id="how-it-works">
  <h1>This is how it works</h1>

  <ol class="how-it-works-list group">
    <li>
        <span class="glyphicon glyphicon-question-sign"></span>

      <p>
        Ask your audience their preferred Vine with the Vensei App
      </p>
    </li>
    <li>
      <span class="glyphicon glyphicon-phone"></span>

      <p>
        Audience answers in real time using web browser.
      </p>
    </li>
    <li>
      <span class="glyphicon glyphicon-stats"></span>

      <p>
        See your response live on the web.
      </p>
    </li>
  </ol>
</section>

<section id="explain-vine-browsing">
  <h1 class="centered">
    Vote on other Vine battles, and earn points for being in touch with public
    opinion
  </h1>

  <div class="row vote-response-blocks">

      <div class="col-md-4">
        <image class="response-block" src="http://res.cloudinary.com/dndjfdea0/image/upload/c_fit,w_550/v1435075926/browse1_tf18bp.png">
      </div>


      <div class="col-md-4">
        <image class="response-block" src="http://res.cloudinary.com/dndjfdea0/image/upload/c_fit,w_550/v1435075925/browse2_aq1why.png">

      </div>

      <div class="col-md-4">
        <image class="response-block last-response-block" src="http://res.cloudinary.com/dndjfdea0/image/upload/c_fit,w_550/v1435075925/browse3_rkln6j.png">

      </div>


  </div>
</section>

<section id="buzz">
  <div class="row">
    <div class="col-md-12">
      <h1>Read all the buzz about Vensei</h1>
    </div>
  </div>

  <div class="row quote">
    <div class="col-md-2 col-md-offset-3">
      <div class="circle garrett">
      </div>
    </div>

    <div class="col-md-5">
      <h2>"Wow, Vensei is so <a target="_blank" href="https://vimeo.com/37008466">
        bangarang</a>! I wonder
        <strong>
          <a target="_blank" href="https://www.github.com/discotroll65">
            what other cool stuff its creator has made?
          </a>"
        </strong>
      </h2>
    </div>
  </div>
</section>
