<nav class="navbar navbar-inverse">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
        data-toggle="collapse" data-target="#vensei_links">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img src="http://res.cloudinary.com/dndjfdea0/image/upload/c_fit,h_77/v1435030180/vensei-logo-white_yabegm.png" alt="Vensei" />
      </a>
    </div>

    <div class="collapse navbar-collapse" id="vensei_links">
      <ul class="nav navbar-nav pull-right">
        <li class="navbar-text score">
          <a >
            score: <%= user.escape('score') %>
          </a>
        </li>
        <li class="navbar-text" >
          <a >
            Logged in as <%= CURRENT_USER_USERNAME %>
          </a>
        </li>
        <li class="navbar-text"><a href="#polls">My vine polls</a></li>
        <li class="navbar-text"><a class="sign-out" href="#">Sign Out</a></li>
      </ul>

    </div>

  </div> <!-- /.container-fluid -->
</nav>
