<form action="<%= url %>" method="post" class="main-form">
  <%= csrf_tag %>

  <label>Username
    <input id="username" class="form-control"
      type="text" name="user[username]" value="<%= user.username %>">
  </label>
  <br>
  <label>Password
    <input id="password"
      class="form-control" type="password" name="user[password]">
  </label>
  <br>

  <input class="btn btn-success login-button"
    type="submit" value="<%= button_msg %>">
</form>
